* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	width: 100%;
	background: #cee3e2;
	font-family: 'Roboto', sans-serif;
}

.app-container {
	margin: 20px auto;
	width: 80%;
}

.app-container .app-status p {
	font-size: 18px;
	font-weight: 300;
	padding: 5px 20px;
	color: white;
	margin-bottom: 10px;
	border-radius: 5px;
	/* width: 50%; */
}

.app-container .update-message p {
	font-size: 18px;
	font-weight: 300;
	padding: 5px 20px;
	color: black;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #0dcaf0;
	/* width: 50%; */
}

.app-container .update-message {
	visibility: hidden;
}

.app-container .update-message.show {
	visibility: visible;
}

.user {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-bottom: 10px;
	align-items: center;
}

.user .logout {
	display: block;
	cursor: pointer;
	/* width: 100%; */
	font-size: 14px;
	padding: 10px 20px;
	background-color: #dc3545;
	color: white;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.app-container .app-status .ok {
	background-color: #198754;
	color: white;
}

.app-container .app-status .error {
	background-color: #dc3545;
	color: white;
}

.app-container .form-control {
	display: flex;
	gap: 5px;
	margin-bottom: 5px;
	width: 50%;
	/* margin-right: auto;
	margin-left: auto; */
}

.app-container .form-control .form-field {
	flex: 1 1 0;
}

.app-container .form-control label {
	font-size: 18px;
	/* margin-right: 10px; */
}

.app-container .form-control input {
	padding: 5px 5px;
	border-radius: 5px;
	border: none;
}

.app-container .form-control select {
	border: 0;
	border-radius: 5px;
	font-size: 14px;
	width: 100%;
	padding: 5px 15px 5px 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	/* Positions background arrow image */
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	background-position: right 10px center;
}

.app-container .form-control .button {
	display: none;
}
.app-container .form-control .button.show {
	display: block;
	cursor: pointer;
	width: 100%;
	margin-top: 20px;
	font-size: 14px;
	padding: 10px;
	background-color: rgb(24, 119, 242);
	color: white;
	text-align: center;
	border: none;
}

.app-container .group-list-container {
	display: flex;
	gap: 10px;
}

.app-container .group-list-container .group-list {
	text-align: center;
	padding: 5px 10px;
	border: 1px solid black;
	min-width: 300px;
	height: 250px;
}

.app-container .group-list-container .group-list .list-item {
	border: 1px solid black;
	text-align: center;
	padding: 5px 10px;
}

.app-container .group-list-container .group-list .list-item.dragging {
	opacity: 0.5;
}
