* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	/* height: 100%; */
	width: 100%;
}

body {
	background: #cee3e2;
	font-family: 'Roboto', sans-serif;
}

.app-container {
	margin: 10px auto;
	width: 80%;
	height: 100%;
}

.app-container .app-status p {
	font-size: 18px;
	font-weight: 300;
	padding: 5px 20px;
	color: white;
	margin-bottom: 10px;
	border-radius: 5px;
}

.app-container .update-message p {
	font-size: 18px;
	font-weight: 300;
	padding: 5px 20px;
	color: black;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #0dcaf0;
}

.app-container .update-message {
	visibility: hidden;
}

.app-container .update-message.show {
	visibility: visible;
}

.user {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	align-items: center;
}

.user .logout {
	cursor: pointer;
	font-size: 14px;
	padding: 10px 20px;
	background-color: #dc3545;
	color: white;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.app-container .app-status .ok {
	background-color: #198754;
	color: white;
}

.app-container .app-status .error {
	background-color: #dc3545;
	color: white;
}

.app-container .app-status .warning {
	background-color: #ffc107;
	color: black;
}

.app-container .form-control {
	display: flex;
	margin-bottom: 5px;
	width: 100%;
}

.app-container .form-control .form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.app-container .form-control .form-group .form-field {
	width: 100%;
	display: flex;
	align-items: center;
}

.app-container .form-control .form-group .form-field label {
	font-size: 18px;
	display: block;
	flex-grow: 1;
}

.app-container .form-control .form-group .form-field input {
	padding: 10px 5px;
	border-radius: 5px;
	border: none;
	width: 100%;
	max-width: 800px;
	margin-left: 10px;
}

.app-container .sheet .form-control .form-group .form-field label {
	flex-grow: 0;
}
.app-container .sheet .form-control .form-group .form-field input {
	width: 100%;
}

.app-container .form-control .error {
	display: block;
	margin-top: 5px;
	color: #dc3545;
	height: 20px;
	visibility: hidden;
	text-align: center;
}

.app-container .form-control .error.show {
	visibility: visible;
}

.app-container .sheets-list .sheets-list-header {
	display: none;
}

.app-container .sheets-list .sheets-list-header.show {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.app-container .sheets-list p {
	font-weight: 500;
}

.app-container .sheets-list .no-groups-header {
	margin-bottom: 20px;
	text-align: center;
}

.app-container .form-control .button {
	display: none;
}
.app-container .form-control .button.show {
	display: block;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
	padding: 10px;
	background-color: rgb(24, 119, 242);
	color: white;
	text-align: center;
	border: none;
}

.facebook-groups {
	display: block;
	width: 100%;
	border-collapse: collapse;
	max-height: 250px;
	overflow: auto;
	margin-bottom: 20px;
}

.facebook-groups th {
	text-align: start;
	padding: 5px 20px;
	padding-bottom: 10px;
}

.facebook-groups th:nth-child(2) {
	display: none;
}

.facebook-groups td {
	text-align: start;
	padding: 5px 20px;
}

.facebook-groups td:nth-child(2) {
	display: none;
}

.facebook-groups td:nth-child(3) {
	max-width: 300px;
	overflow-wrap: break-word;
}

.facebook-groups td:nth-child(4) {
	min-width: 600px;
}

.facebook-groups td input {
	padding: 10px 10px;
	border-radius: 5px;
	border: none;
	width: 100%;
}
