* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	background: #cee3e2;
	font-family: 'Roboto', sans-serif;
}

.app-container {
	margin: 20px auto;
	width: 80%;
}

.app-container .app-status p {
	font-size: 18px;
	font-weight: 300;
	padding: 5px 20px;
	color: white;
	margin-bottom: 10px;
	border-radius: 5px;
}

.app-container .update-message p {
	font-size: 18px;
	font-weight: 300;
	padding: 5px 20px;
	color: black;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #0dcaf0;
}

.app-container .update-message {
	visibility: hidden;
}

.app-container .update-message.show {
	visibility: visible;
}

.user {
	display: flex;
	justify-content: space-between;
	/* width: 50%; */
	margin-bottom: 10px;
	align-items: center;
}

.user .logout {
	cursor: pointer;
	font-size: 14px;
	padding: 10px 20px;
	background-color: #dc3545;
	color: white;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.user .add-sheet {
	cursor: pointer;
	padding: 10px 20px;
	background-color: #0d6efd;
	font-size: 14px;
	padding: 10px;
	color: white;
	text-align: center;
	border: none;
	margin-right: 10px;
	border-radius: 5px;
}

.app-container .app-status .ok {
	background-color: #198754;
	color: white;
}

.app-container .app-status .error {
	background-color: #dc3545;
	color: white;
}

.app-container .app-status .warning {
	background-color: #ffc107;
	color: black;
}

.app-container .form-control {
	display: flex;
	margin-bottom: 5px;
	width: 100%;
	gap: 10px;
}

.app-container .form-control .form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.app-container .form-control .form-group .form-field {
	width: 100%;
	display: flex;
	align-items: center;

	/* justify-content: space-between; */
}

.app-container .form-control .form-group .form-field label {
	font-size: 18px;
	display: block;
	flex-grow: 1;
}

.app-container .form-control .form-group .form-field input {
	padding: 10px 5px;
	border-radius: 5px;
	border: none;
	width: 100%;
	max-width: 800px;
	margin-left: 10px;
}

.app-container .sheet .form-control .form-group .form-field label {
	flex-grow: 0;
}
.app-container .sheet .form-control .form-group .form-field input {
	width: 100%;
}

.app-container .form-control .error {
	display: block;
	margin-top: 5px;
	color: #dc3545;
	height: 20px;
	visibility: hidden;
	text-align: center;
}

.app-container .form-control .error.show {
	visibility: visible;
}

.app-container .sheets-list {
	margin-top: 30px;
}

.app-container .sheets-list .sheets-list-header {
	display: none;
}

.app-container .sheets-list .sheets-list-header.show {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
	align-items: center;
}

.app-container .sheets-list .sheets-list-header p {
	font-weight: 500;
}

.app-container .sheets-list .sheets-list-header .add-sheet {
	cursor: pointer;
	padding: 10px 20px;
	background-color: #0d6efd;
	font-size: 14px;
	padding: 10px;
	color: white;
	text-align: center;
	border: none;
	margin-right: 10px;
	border-radius: 5px;
}

.app-container .sheets-list .sheet {
	margin-bottom: 20px;
}

.app-container .sheets-list .form-control .error {
	text-align: start;
}

.app-container .sheets-list .form-control .delete {
	background-color: #dc3545;
	outline: none;
	border-radius: 50%;
	color: white;
	display: block;
	cursor: pointer;
	font-size: 10px;
	padding: 10px;
	text-align: center;
	border: none;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	transform: translateY(-50%);
}

.app-container .form-control .button {
	display: none;
}
.app-container .form-control .button.show {
	display: block;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
	padding: 10px;
	background-color: rgb(24, 119, 242);
	color: white;
	text-align: center;
	border: none;
}
